body,
.currency-dropdown,
.number-select {
  background-color: #731963;
  color: #f0e100;
  font-family: "Mulish", sans-serif;
  font-size: 48px;
}

body {
  text-align: center;
}

#app {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  font-size: 64px;
  text-transform: uppercase;
}

form {
  display: flex;
  align-items: center;
  border: 5px ridge #f0e100;
  background-color: #cbd2d0;
  color: #0b3c49;
  padding: 0.5em;
}

.label {
  margin-bottom: 0.5em;
}

.currency-dropdown,
.number-select {
  border: none;
  background-color: #cbd2d0;
  color: #0b3c49;
}

.flag {
  width: 2em;
  margin-right: 0.25em;
}

.currency-dropdown,
.number-select,
.output-units {
  width: 4em;
}

.number-select {
  padding: 0;
}

.output-units {
  display: inline-block;
  text-align: left;
}

.currency-dropdown:focus,
.number-select:focus {
  outline: none;
}

option {
  font-size: 32px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}
